body {
	margin: 0;
}
* {
	box-sizing: border-box;
	margin: 0 auto;
}
a {

}
.backfone {
	background-color: #2ecc71;
	width: 100%;
	height: 900px;
	background: #2ecc71 url(im/bg-1.png);
}
	.header {
/*	background-color: #2ecc71;
*/	width: 2000px;
	height: 900px;
	}
		.fitapp {
		display: inline-block;
		width: 130px;
		height: 38px;
		background: url(im/fitapp.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 32px;	
		left: 5px;
		}
		.menubutton {
		display: inline-block;
		width: 1022px;
		height: 38px;
		position: relative;
		top: 20px;
		left: 1100px;
		}
			.but {
			display: inline-block;
			}
			.but a{
			color: #fefefe;
			font-family: Roboto;
			font-size: 30px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.72px;
			text-decoration: none;
			}
			.but.about {
			}
			.but.feuterus {
			padding-left: 22px;
			}
			.but.rewiews{
			padding-left: 22px;
			}
			.but.block {
			padding-left: 22px;
			}
			.but.support{
			padding-left: 22px;
			}
			.but.getapp {
			padding-left: 22px;
			color: #2ecc71;
/*			background-color: #ffffff;
*/
			}
	.appsico {
	display: inline-block;
	width: 624px;
	height: 110px;
	background: url(im/logo.png) no-repeat;
	background-size: 110px;	
	position: relative;
	top: 267px;
	right: 1475px;
	bottom: 0px ;
	left: 5px;
	}
	h1 {
	font-family: "Roboto Light";
	font-size: 64px;
	font-weight: 300;
	letter-spacing: 2.56px;
    color: #f4f4f4;
    padding-top: 130px;
	}
	.better {
	font-family: "Roboto - Bold";
	font-weight: 700;
	letter-spacing: 2.56px;
	}
	h4 {
	position: relative;
	top: 26px;
	left:5px;
	color: #f4f4f4;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: 0.72px;
	}
	.appstore {
		display: inline-block;
		width: 130px;
		height: 46px;
		background: url(im/appstore.png) no-repeat;
		background-size: 110px;	
		position: relative;
		top: 71px;

	}
	.playmarket {
		display: inline-block;
		width: 137px;
		height: 47px;
		background: url(im/google-play.png) no-repeat;
		background-size: 110px;	
		position: relative;
		top: 74px;
		left: 1px;
	}
	.cap1 {
		position: relative;
	}
	.phonehome {
		display: inline-block;
		width: 404px;
		height: 753px;
		background: url(im/phone-home.png) no-repeat;
		background-size: 100%;	
		position: absolute;
		top: 147px;
		bottom: 0px;
		left: 1670px;
	}
	.block1{
		width: 2000px; 
		height: 900px;
	}
	.phoneleft {
		display: inline-block;
		width: 1035px;
		height: 900px;
		background-color: red;
	}
	.calorie {
		display: inline-block;
		width: 960px;
		height: : 900px;
		background-color: black;
	}
